/* HEADER */
header {
  background-color: black; }

.header-letras {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  padding: 20px; }
  .header-letras:hover {
    transform: scale(1.35, 1.35);
    transition: 1s; }

.header-letras-1 {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 170%; }
  .header-letras-1:hover {
    transform: scale(1.35, 1.35);
    transition: 1s; }

/* Inicio */
main {
  margin-bottom: 0px; }

.grid__inicio {
  display: grid;
  width: 98vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "grid-dos grid-dos grid-dos" "grid-cuatro grid-tres grid-cinco" "grid-uno grid-uno grid-uno";
  background-image: url("../recursos/huellasperro.jpg");
  column-gap: 10px;
  row-gap: 10px; }

.grid-uno {
  grid-area: grid-uno;
  background-image: url(../recursos/bannerinicio.jpg); }

.grid-dos {
  grid-area: grid-dos;
  background-image: url(../recursos/peluoferta.jpg); }

.grid-tres {
  grid-area: grid-tres;
  background-image: url(../recursos/mediopelu.jpg); }

.grid-cuatro {
  grid-area: grid-cuatro;
  background-image: url(../recursos/accesorios.jpg); }

.grid-cinco {
  grid-area: grid-cinco;
  background-image: url(../recursos/maspublicidad.jpg); }

/* Main Alimentos */
.productos_tarjeta {
  display: flex;
  align-content: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 8px black;
  background-color: white; }

.productos__lista {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "pedrigee dog-selection dog-chow" "cat-chow eukanuba whiskas";
  column-gap: 30px;
  row-gap: 30px;
  background-image: url("../recursos/huellasperro.jpg"); }
  .productos__lista_pedrigee {
    grid-area: pedrigee; }
  .productos__lista_dog-chow {
    grid-area: dog-chow; }
  .productos__lista_cat-chow {
    grid-area: cat-chow; }
  .productos__lista_dog-selection {
    grid-area: dog-selection; }
  .productos__lista_eukanuba {
    grid-area: eukanuba; }
  .productos__lista_whiskas {
    grid-area: whiskas; }

.productos__imagen {
  width: 70%;
  height: 170px; }

.productos__info {
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 90%; }

.productos__info-1 {
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 120%; }

.productos__precio-prin {
  background-color: black;
  width: 100%; }

.productos_precio {
  color: white;
  text-align: center;
  font-size: 190%; }

/* Main Articulos varios */
.articulos__imagen {
  width: 200px;
  height: 200px; }

.articulos__lista {
  display: grid;
  width: 98vw;
  height: auto;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "publicidad producto-dos producto-cinco" "publicidad producto-ocho producto-cuatro" "maspubli producto-uno producto-siete" "maspubli producto-tres producto-seis";
  column-gap: 30px;
  row-gap: 15px;
  background-image: url("../recursos/huellasperro.jpg"); }

.articulos-publicidad {
  grid-area: publicidad;
  background-image: url("../recursos/juguetesyac.jpg");
  border: solid 2px black; }

.articulos-maspubli {
  grid-area: maspubli;
  background-image: url(../recursos/maspubli.jpg);
  border: solid 2px black;
  background-color: white; }

.articulos {
  grid-area: producto-uno; }

.articulos-dos {
  grid-area: producto-dos; }

.articulos-tres {
  grid-area: producto-tres; }

.articulos-cuatro {
  grid-area: producto-cuatro; }

.articulos-cinco {
  grid-area: producto-cinco; }

.articulos-seis {
  grid-area: producto-seis; }

.articulos-siete {
  grid-area: producto-siete; }

.articulos-ocho {
  grid-area: producto-ocho; }

.articulos__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px black;
  background-color: white; }

.articulos__precio {
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.articulos__precio-1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 170%; }

.articulos-tarjetita {
  background-color: black;
  width: 100%;
  height: 100px;
  color: white;
  text-align: center;
  padding-top: 10px; }

/* Main Peluqueria */
.peluqueria__texto {
  font-family: 'Roboto', sans-serif;
  padding: 0 16px;
  background-color: black;
  color: white; }

.peluqueria_img_banner {
  width: 100%;
  height: 270px; }

.peluqueria_carrouser-altura {
  height: 600px; }

/* Main Contacto */
.contactos {
  background-color: darkseagreen; }
  .contactos__sub {
    font-size: xx-large;
    padding: 5px 30px;
    font-family: 'Roboto', sans-serif; }
  .contactos_datos {
    display: flex;
    flex-direction: row; }
    .contactos_datos-local {
      padding: 40px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      text-decoration: underline; }
    .contactos_datos-mapa {
      margin-left: auto;
      padding-right: 10px; }
  .contactos_letras-bsp {
    font-family: 'Roboto', sans-serif; }
  .contactos_boostrap {
    padding: 0 16px; }
  .contactos_redes-info {
    font-family: 'Roboto', sans-serif;
    padding: 5px 16px; }
  .contactos_redes-imagen {
    width: 100px;
    padding: 5px 16px; }

/* Footer */
footer {
  background-image: url("../recursos/huellasperro.jpg"); }

.footer__item a {
  font-family: 'Roboto', sans-serif;
  color: black;
  text-decoration: none;
  background-color: white;
  font-size: 170%;
  padding: 0 16px; }

.footer_main {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.footer__imagen {
  padding: 0 16px;
  width: 650px;
  height: 400px; }

.footer__mapa {
  padding: 0 16px;
  width: 650px;
  height: 400px; }

/* Extend */
.backgraund_centrado, .grid-uno, .grid-dos, .grid-tres, .grid-cuatro, .grid-cinco, .articulos-publicidad, .articulos-maspubli {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/*Titulos*/
.titulo__principal {
  text-align: center;
  font-family: 'Titan One', cursive;
  color: white;
  background-color: black;
  font-size: 80px;
  padding: 0 16px;
  margin: 1px; }

.subtitulo__texto {
  font-family: 'Roboto', sans-serif;
  font-size: 140%;
  padding: 15px 16px;
  background-color: black;
  color: white; }

/* Media Celulares */
@media (min-width: 320px) and (max-width: 575px) {
  /* Inicio */
  .titulo__principal {
    font-size: 40px; }
  .grid__inicio {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "grid-dos" "grid-uno" "grid-tres" "grid-cuatro" "grid-cinco"; }
  .grid-uno {
    grid-area: grid-uno;
    background-image: url(../recursos/bannerinicio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .grid-dos {
    grid-area: grid-dos;
    background-image: url(../recursos/peluoferta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .grid-tres {
    grid-area: grid-tres;
    background-image: url(../recursos/mediopelu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .grid-cuatro {
    grid-area: grid-cuatro;
    background-image: url(../recursos/accesorios.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .grid-cinco {
    grid-area: grid-cinco;
    background-image: url(../recursos/maspublicidad.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  /* Alimentos */
  .productos__lista {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "pedrigee" "dog-selection" "cat-chow" "eukanuba" "dog-chow" "whiskas";
    column-gap: 10px;
    row-gap: 10px;
    background-image: url("../recursos/huellasperro.jpg"); }
  /* Articulos varios */
  .articulos__lista {
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 10);
    grid-template-areas: "publicidad" "maspubli" "producto-dos" "producto-cinco" "producto-ocho" "producto-cuatro" "producto-uno" "producto-siete" "producto-tres" "producto-seis";
    row-gap: 10px;
    background-image: url("../recursos/huellasperro.jpg"); }
  .articulos-publicidad {
    grid-area: publicidad;
    background-image: url("../recursos/juguetesyac.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 2px black; }
  .articulos-maspubli {
    grid-area: maspubli;
    background-image: url(../recursos/maspubli.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 2px black;
    background-color: white; }
  /* Contactos */
  .contactos-formulario {
    border: solid;
    color: rgba(8, 8, 8, 0.753); }
  .contactos_datos-mapa {
    width: 180px;
    margin-left: auto;
    padding-right: 10px; }
  .contactos_redes-imagen {
    width: 60px;
    padding: 5px 16px; }
  /* Footer */
  .footer_main {
    display: block; }
  .footer__imagen {
    width: 100%;
    height: 150px;
    padding-left: 16px;
    padding-right: 16px; }
  .footer__mapa {
    width: 100%;
    height: 150px;
    padding-left: 16px;
    padding-right: 16px; } }

/* Media Tablets */
@media (min-width: 576px) and (max-width: 992px) {
  /* Inicio */
  .grid__inicio {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr 1fr;
    grid-template-areas: "grid-dos grid-dos" "grid-uno grid-uno" "grid-tres grid-cinco" "grid-tres grid-cuatro"; }
  .grid-uno {
    grid-area: grid-uno;
    background-image: url(../recursos/bannerinicio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .grid-dos {
    grid-area: grid-dos;
    background-image: url(../recursos/peluoferta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .grid-tres {
    grid-area: grid-tres;
    background-image: url(../recursos/mediopelu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .grid-cuatro {
    grid-area: grid-cuatro;
    background-image: url(../recursos/accesorios.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .grid-cinco {
    grid-area: grid-cinco;
    background-image: url(../recursos/maspublicidad.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  /* Alimentos */
  .productos__lista {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "pedrigee dog-selection" "cat-chow eukanuba" "dog-chow whiskas";
    column-gap: 10px;
    row-gap: 10px;
    background-image: url("../recursos/huellasperro.jpg"); }
  /* Articulos varios */
  .articulos__lista {
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "publicidad maspubli" "producto-dos producto-cinco" "producto-ocho producto-cuatro" "producto-uno producto-siete" "producto-tres producto-seis";
    column-gap: 20px;
    row-gap: 10px;
    background-image: url("../recursos/huellasperro.jpg"); }
  .articulos__imagen {
    width: 200px;
    height: 200px; }
  /* Contacto */
  .contactos-formulario {
    border: solid;
    color: rgba(8, 8, 8, 0.753); }
  .contactos_redes-imagen {
    width: 70px;
    padding: 5px 16px; }
  /* Footer */
  .footer__imagen {
    width: 100%;
    height: 400px;
    padding-left: 16px;
    padding-right: 16px; }
  .footer__mapa {
    width: 100%;
    height: 400px;
    padding-left: 16px;
    padding-right: 16px; }
  .footer_main {
    display: block; } }
