/* Main Contacto */
.contactos {
    background-color: darkseagreen;
    &__sub {
        font-size: xx-large;
        padding: 5px 30px;
        font-family: 'Roboto', sans-serif;
    }
    &_datos {
            display: flex;
            flex-direction: row;
            &-local {
                padding: 40px;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                text-decoration: underline;
            }
            &-mapa {
                margin-left: auto;
                padding-right: 10px;
            }
    }
    
    &_letras-bsp {
        font-family: 'Roboto', sans-serif;
    }
    &_boostrap {
        padding: 0 16px;
    }
    
    &_redes-info {
        font-family: 'Roboto', sans-serif;
        padding: 5px 16px;
    }
    &_redes-imagen {
        width: 100px;
        padding: 5px 16px;
    }
}