/* Main Peluqueria */
.peluqueria {
    &__texto {
        font-family: 'Roboto', sans-serif;
        padding: 0 16px;
        background-color: $fondo-backgraund;
        color: white;
    }
    &_img_banner {
        width: 104%;
        height: 270px;
    }
    &_carrouser-altura {
        height: 800px;
    }
    &__img {
        object-fit: cover;
        object-position: center;
    }
}