@import "header";
@import "index";
@import "alimentos";
@import "articulos-varios";
@import "peluqueria";
@import "contactos";
@import "footer";
@import "operators";

*   {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Titulos*/
.titulo__principal {
    text-align: center;
    font-family: 'Titan One', cursive;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 80px;
    padding: 0 16px;
    margin: 1px;
}
.subtitulo__texto {
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    padding: 15px 16px;
    background-color: black;
    color: white;
}
@import "mediaqueries";
